DATABASE_URL="postgresql://user:password@host/neondb?sslmode=require&channel_binding=require"
NEXT_PUBLIC_TELEGRAM_URL="https://t.me/l2signals"
NEXT_PUBLIC_X_URL="https://x.com/l2signals"
NEXT_PUBLIC_FOUNDER_LINKEDIN="https://www.linkedin.com/in/aotayo"
NEXT_PUBLIC_FOUNDER_X="https://x.com/aot_ayo"
NEXT_PUBLIC_FOUNDER_PORTFOLIO="https://aot-network-portfolio.vercel.app/"
NEXT_PUBLIC_CONTACT_EMAIL="l2signalslab@gmail.com"
NEXT_PUBLIC_L2_WEB_API="https://l2signal-web-six.vercel.app"
NEXT_PUBLIC_FIREBASE_PROJECT_ID=l2-signals
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
